/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

footer h2 {
    font-size: 18px;
}

h1, h2 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.card-title {
    font-size: 16px;
}

.card p {
    font-size: 14px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

header img {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 19px;
    width: 61.09px;
}

header nav div{    
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: flex-end;
    gap: 68px;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 15px;
}

footer {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}


footer .colonne {
    padding: 20px;
}

body {
    display: flex;
    justify-content: center;    
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

 .description {
    min-height: 53px;
 }

 .description h1, .description p {
    margin: 0;
    padding: 0;
}

.description p {
    margin-top: 8px;
    padding-top: 0;
}

.recherche {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 40%;
    height: 49px;
}

#search_form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 13% 52% 35%;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    border: 1px solid  var(--main-bg-color);
}

#search_form div {
    max-width: 50px;
    width: 25%;
    min-width: 30px;
}

#search_icon {
    display: block;
    margin: 0 auto;
}

#search_input {
    height: 100%;
    padding: 0;
    border: 0;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.vector_search {
    display: none;
}

#search_button {
    height: 100%;
    padding: 0;
    border: 0;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
}

.filters, .filters_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    gap: 15px;
}

.filter_button {
    height: 50px;
    min-width: 140px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 17px;
}

.filter_button:hover {
    background-color: #DEEBFF;
}

.informations p {
    display: flex;
    align-items: center;
}

.cercle_info {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    padding: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.activites-cards .card {
    height: 100%;
    padding: 0;
}

.activites-cards img{
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    margin: 0;
    padding: 20px 19px 20px 19px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
        align-items: start;
    }

    .filter_button {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activites-cards img{
        height: 200px;
    }

    .activites-cards .card-content {
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    .description, .recherche, .filters, .informations {
        padding: 0px 20px 0px 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .recherche {
        width: 88%;
    }

    #search_form {
        display: flex;
    }

    .vector_search {
        display: flex;
    }

    .span_search {
        display: none;
    }

    #search_button {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        min-width: 50px;
        max-width: 75px;
    }

    #search_input {
        flex-grow: 1;
        max-width: 85%;
    }

    .filters_buttons {
        flex-wrap: wrap;
    }

    .filter_button {
        font-size: 14px;
        min-width: 45%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        flex-direction: column;
        margin-top: 50px;
        background-color: white !important;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires {
        border-radius: 0 !important;
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

}